@import url("reset.css");

* { box-sizing: border-box; }

//colors
$red: hsl(357, 77%, 69%);
$background-grey: hsl(0, 0%, 85%);
$text-grey: hsl(0, 0%, 28%);
$accent-blue: hsl(185, 76%, 48%);
$dark-accent: hsl(0, 0%, 20%);
$body-background-color: grey;

// sizes
$welcome-state-button-font-size: calc(20px + 1vw);

$wildlife-map-menu-bar-height: calc(40px + 2vh);
$wildlife-map-margin-top-height: calc(-40px + -2vh);


// placeholders and mixins
%flex-column-centered{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// so cols that expand will wrap on overflow 
// i.e.: 2 col-xs-12 col-sm-4 divs will still stack and unstack
%flex-row-center-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.welcome-state-container{
	@extend %flex-column-centered;
	min-height: 100vh;
	// hacky background image opacity
	&:after {
  		content: "";
  		background: url("../images/welcome-state-image.png");
  		opacity: 0.4;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		position: absolute;
  		z-index: -1;   
	}
		a{
		color: black;
		text-decoration: none;
		height: calc(50px + 5vw);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
}

.welcome-state-heading{
	// flex-grow: 1;
	color: $dark-accent;
}

.welcome-state-button{
	@extend %flex-column-centered;
	border: 2px solid $dark-accent;
	box-shadow: 0px 0px 5px $dark-accent;
	margin-top: calc(10px + 1vw);
	margin-bottom: calc(10px + 1vw);
	margin-right: calc(10px + 1vw);
	margin-left: calc(10px + 1vw);
	text-align: center;
	height: calc(50px + 5vw);
	user-select: none;
	background-color: white;
	padding: 0;

	&:hover{
		cursor: pointer;
	}
	&:active{
		box-shadow: none;
	}
}

// welcome state component
.welcome-state-button-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.welcome-state-button-text-container{
	@extend %flex-column-centered;
}

.welcome-state-button-text{
	font-size: $welcome-state-button-font-size;
}

// map compontent
.wildlife-map-container{
	// background-color: $accent-blue;
	margin-top: 20px;
}

.wildlife-map-menu-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	height: $wildlife-map-menu-bar-height;
	background-color: rgba(255,255,255,.5);
	margin-bottom: 50px;
	.fa-circle{
		font-size: calc(20px + 3vw);
	}
}

.wildlife-map-menu-bar-text-container{
	@extend %flex-column-centered;
}

#wildlife-map{ 
	height: 500px; 
	// margin-top: $wildlife-map-margin-top-height;
	z-index: 1;
}

.location-image{
	height: $wildlife-map-menu-bar-height;
	cursor: pointer;
}
.popup-image{
	width: 50%;
}

.leaflet-control-zoom{
}

// manipulator classes
.display-none-class{
	display: none;
}