@import url("reset.css");

* { box-sizing: border-box; }

//colors


$red: hsl(357, 77%, 69%);
$background-grey: hsl(0, 0%, 85%);
$text-grey: hsl(0, 0%, 28%);
$accent-blue: hsl(185, 76%, 48%);
$dark-accent: hsl(0, 0%, 20%);
$body-background-color: grey;

.welcome-container{
	display: flex;
	flex-direction: flex;
	// min-height: 100vh;
	background-color: $red;
}
.welcome-heading{
	// flex-grow: 1;
	color: $dark-accent;
}

.wildlife-map-container{
	background-color: $accent-blue;
}

#wildlife-map{ 
	height: 300px; 
}
