@import url("reset.css");

* { box-sizing: border-box; }

//colors
$red: hsl(357, 77%, 69%);
$background-grey: hsl(0, 0%, 85%);
$text-grey: hsl(0, 0%, 28%);
$accent-blue: hsl(185, 76%, 48%);
$dark-accent: hsl(0, 0%, 20%);
$body-background-color: grey;

// sizes
$welcome-state-button-font-size: calc(20px + 1vw);

$wildlife-map-menu-bar-height: calc(40px + 2vh);
$wildlife-map-margin-top-height: calc(-40px + -2vh);

$new-post-input-height: calc(40px + 2vh);

$profile-option-font-size: calc(20px + 1vw);

$custom-navbar-height: calc(80px + 4vw);
$custom-navbar-item-height: calc(#{$custom-navbar-height} * .5);


// placeholders and mixins
%flex-column-centered{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


%materialize-button{
  	padding: 0 6px 0 6px;
  	margin: 6px 8px 6px 8px;
  	min-width: 88px;
  	border-radius: 3px;
  	font-size: 14px;
  	text-align: center;
  	text-transform: uppercase;
  	text-decoration:none;
  	border: none;
  	outline: none;
 	 // raised
  	//box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

%materialize-button-raised{
  	padding: 0 6px 0 6px;
  	margin: 6px 8px 6px 8px;
  	min-width: 88px;
  	border-radius: 3px;
  	font-size: 14px;
  	text-align: center;
  	text-transform: uppercase;
  	text-decoration:none;
  	border: none;
  	outline: none;
 	 // raised
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

%materialize-button-circle{
	line-height: 5.6rem;
 	min-width: 0;
  	width: 5.6rem;
  	height: 5.6rem;
  	border-radius: 50%;
}

// so cols that expand will wrap on overflow 
// i.e.: 2 col-xs-12 col-sm-4 divs will still stack and unstack
%flex-row-center-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.welcome-state-container{
	@extend %flex-column-centered;
	min-height: 100vh;
	// hacky background image opacity
	&:after {
  		content: "";
  		background: url("../images/welcome-state-image.png");
  		background-size: cover;
  		opacity: 0.4;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		position: absolute;
  		z-index: -1;   
	}
		a{
		color: black;
		text-decoration: none;
		height: calc(50px + 5vw);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
}

.welcome-state-heading{
	// flex-grow: 1;
	color: $dark-accent;
}

.welcome-state-button{
	@extend %flex-column-centered;
	border: 2px solid $dark-accent;
	box-shadow: 0px 0px 5px $dark-accent;
	margin-top: calc(10px + 1vw);
	margin-bottom: calc(10px + 1vw);
	margin-right: calc(10px + 1vw);
	margin-left: calc(10px + 1vw);
	text-align: center;
	height: calc(50px + 5vw);
	user-select: none;
	background-color: white;
	padding: 0;

	&:hover{
		cursor: pointer;
	}
	&:active{
		box-shadow: none;
	}
}

// welcome state component
.welcome-state-button-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.welcome-state-button-text-container{
	@extend %flex-column-centered;
}

.welcome-state-button-text{
	font-size: $welcome-state-button-font-size;
}

// map compontent
.wildlife-map-container{
	background-color: $accent-blue;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wildlife-map-menu-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $wildlife-map-menu-bar-height;
	background-color: rgba(255,255,255,.5);
	margin-bottom: calc(#{$wildlife-map-menu-bar-height} * -1);
	z-index: 999;
	box-shadow: 0px 0px 10px 0px $dark-accent;

}
.wildlife-menu-bar-select{
	box-shadow: 0px 0px 5px 2px $dark-accent;
	margin-left: 10px;
}
.wildlife-map-menu-bar-input-and-dropdown-container{
	display: flex;
	flex-direction: row;
	justify-content: center; 
}
.wildlife-map-menu-bar-input{
	box-shadow: 0px 0px 2px 1px $dark-accent;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;

}

#wildlife-map{ 
	height: 200px; 
	flex-grow: 1;
}


.location-image{
	height: calc(#{$wildlife-map-menu-bar-height} - 5px);
	cursor: pointer;
	box-shadow: 0px 0px 5px 2px $dark-accent;
	border-radius: 50%;

}
.popup-image{
	width: 50%;
}

.new-post-link-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.new-post-link{
	background-color: white;
	box-shadow: 0px 0px 5px 2px $dark-accent;
	border-radius: 50%;
	color: black;
	height: calc(#{$wildlife-map-menu-bar-height} - 5px);
	width: calc(#{$wildlife-map-menu-bar-height} - 5px);

	margin-right: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	&:hover{
		text-decoration: none;
	}
}

.profile-link{
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	box-shadow: 0px 0px 5px 2px $dark-accent;
}

.map-link{
	font-size: 30px;
}
// new post form
.new-post-container{
	background-color: darken(white,10);
	@extend %flex-column-centered;
	min-height: 100vh;
}

.new-post-form{
	@extend %flex-column-centered;
	margin-top: 20px;
	flex-grow: 1;
	justify-content: space-between;
	// background-color: red;

	.lat-long-container{
		display: flex;
		justify-content: center;
		font-size: $profile-option-font-size;
		input{
			margin-left: 10px;
			margin-right: 10px;
			width: 40vw;
		}
	}
	input{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
		font-size: $profile-option-font-size;
		width: 90vw;
		height: $new-post-input-height;
		text-align: center;
		border-top: none;
		border-left: none;
		border-right: none;
		// border-bottom: 3px solid black; 
		&:focus{
			outline: none;
			// border-color: #A239CA;
			box-shadow: 0 2px 5px 0 $accent-blue;
		}
	}

	select{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
		width: 90vw;
		height: $new-post-input-height;
		text-align-last: center;
		background-color: white;
		font-size: $profile-option-font-size;
	}

	textarea{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
		font-size: $profile-option-font-size;
		width: 90vw;
		text-align: center;
		// border: 1px solid black; 
		height: 300px;
		&:focus{
			outline: none;
			box-shadow: 0 2px 5px 0 $accent-blue;
		}
	}

	.new-post-photo-input {
		font-size: $profile-option-font-size;
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		text-shadow: 20px 20px green;

	}

	.new-post-photo-input + label {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
		font-size: $profile-option-font-size;
		width: 90vw;
		text-align: center;
    	color: white;
    	background-color: $red;
    	cursor: pointer;
    	line-height: 2;
		text-shadow: 0px 0px 1px black;

	}

	#new-post-submit {
		font-size: $profile-option-font-size;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
		border: none;
		color: white;
		background-color: darken($accent-blue, 5);
		text-shadow: 0px 0px 1px black;
		opacity: .2;
		pointer-events: none;
		user-select: none;
	}
}

// profile

.profile-container{
	display: flex;
	// flex-direction: column;
	width: 80vw;
	background-color: grey;
	min-height: 100vh;
		&:after {
  		content: "";
  		background: url("../images/welcome-state-image.png");
  		background-size: cover;
  		opacity: 0.4;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		position: absolute;
  		z-index: -1;   
	}

}

.profile-option-container{
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 20px 10px $dark-accent;

}

.profile-option{
	width: 80vw;
	padding-left: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	font-size: $profile-option-font-size;
	line-height: 3;
	border-bottom: 2px solid $accent-blue;
	border-top: 2px solid $accent-blue;
	color: black;
	&:hover{
		cursor: pointer;
		color: black;
		background-color: darken(white, 5);
		text-decoration: none;
	}
}

.custom-navbar {
	height: $custom-navbar-height;
	// background-color: red;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255,255,255,.5);
	margin-bottom: calc(#{$custom-navbar-height} * -1);
	z-index: 999;
	// width: 100vw;
	padding-right: 5vw;
	padding-left: 5vw;

}
.custom-navbar-item {
  	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	i {
		background-color: rgba(255,255,255, .6);

		font-size: calc(20px + 5vw);
  		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
  		cursor: pointer;
  		color: #4193CF;
	}
}


.new-post-link-item {
	i {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		border-radius: 50%;
	}
}

.location-item{
	i {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		border-radius: 50%;
	}
}



.custom-navbar-new-post-link-container-container{
	@extend %materialize-button-circle;
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  	width: $custom-navbar-item-height;
	height: $custom-navbar-item-height;
  	overflow: hidden;
}

.custom-navbar-new-post-link-container{
	display: flex;
	i{
  		box-shadow: none
	}
}

.select-item{
	box-shadow: none;
}

.custom-navbar-select {
		height: $custom-navbar-item-height;
		text-align-last: center;
		background-color: white;
		width: calc(100px + 4vw);
  		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  		font-size: $profile-option-font-size;
  		flex-grow: 1;
}


// manipulator classes
.display-none-class{
	display: none;
}

.full-opacity {
	opacity: 1 !important;
	pointer-events: auto;
}

.form-error{
	border: 2px solid $red !important;
	border-style: solid  !important;
}




