@import url("reset.css");
* {
  box-sizing: border-box; }

.welcome-state-container, .welcome-state-button, .welcome-state-button-text-container, .new-post-container, .new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.custom-navbar-new-post-link-container-container {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%; }

.welcome-state-container {
  min-height: 100vh; }
  .welcome-state-container:after {
    content: "";
    background: url("../images/welcome-state-image.png");
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .welcome-state-container a {
    color: black;
    text-decoration: none;
    height: calc(50px + 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }

.welcome-state-heading {
  color: #333333; }

.welcome-state-button {
  border: 2px solid #333333;
  box-shadow: 0px 0px 5px #333333;
  margin-top: calc(10px + 1vw);
  margin-bottom: calc(10px + 1vw);
  margin-right: calc(10px + 1vw);
  margin-left: calc(10px + 1vw);
  text-align: center;
  height: calc(50px + 5vw);
  user-select: none;
  background-color: white;
  padding: 0; }
  .welcome-state-button:hover {
    cursor: pointer; }
  .welcome-state-button:active {
    box-shadow: none; }

.welcome-state-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.welcome-state-button-text {
  font-size: calc(20px + 1vw); }

.wildlife-map-container {
  background-color: #1dc8d7;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.wildlife-map-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(40px + 2vh);
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: calc(calc(40px + 2vh) * -1);
  z-index: 999;
  box-shadow: 0px 0px 10px 0px #333333; }

.wildlife-menu-bar-select {
  box-shadow: 0px 0px 5px 2px #333333;
  margin-left: 10px; }

.wildlife-map-menu-bar-input-and-dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.wildlife-map-menu-bar-input {
  box-shadow: 0px 0px 2px 1px #333333;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px; }

#wildlife-map {
  height: 200px;
  flex-grow: 1; }

.location-image {
  height: calc(calc(40px + 2vh) - 5px);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px #333333;
  border-radius: 50%; }

.popup-image {
  width: 50%; }

.new-post-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.new-post-link {
  background-color: white;
  box-shadow: 0px 0px 5px 2px #333333;
  border-radius: 50%;
  color: black;
  height: calc(calc(40px + 2vh) - 5px);
  width: calc(calc(40px + 2vh) - 5px);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .new-post-link:hover {
    text-decoration: none; }

.profile-link {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px 2px #333333; }

.map-link {
  font-size: 30px; }

.new-post-container {
  background-color: #e6e6e6;
  min-height: 100vh; }

.new-post-form {
  margin-top: 20px;
  flex-grow: 1;
  justify-content: space-between; }
  .new-post-form .lat-long-container {
    display: flex;
    justify-content: center; }
    .new-post-form .lat-long-container input {
      margin-left: 10px;
      margin-right: 10px;
      width: 40vw; }
  .new-post-form input {
    width: 90vw;
    height: calc(40px + 2vh);
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black; }
    .new-post-form input:focus {
      outline: none;
      border-bottom: 2px solid #1dc8d7; }
  .new-post-form select {
    width: 90vw;
    height: calc(40px + 2vh);
    text-align-last: center;
    background-color: white; }
  .new-post-form textarea {
    width: 90vw;
    text-align: center;
    border: 3px solid black;
    height: 300px; }
    .new-post-form textarea:focus {
      outline: none;
      border-color: #1dc8d7; }

.profile-container {
  display: flex;
  width: 80vw;
  background-color: grey;
  min-height: 100vh; }
  .profile-container:after {
    content: "";
    background: url("../images/welcome-state-image.png");
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.profile-option-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 10px #333333; }

.profile-option {
  width: 80vw;
  padding-left: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-size: calc(20px + 3vw);
  line-height: 3;
  border-bottom: 2px solid #1dc8d7;
  border-top: 2px solid #1dc8d7;
  color: black; }
  .profile-option:hover {
    cursor: pointer;
    color: black;
    background-color: #f2f2f2;
    text-decoration: none; }

.custom-navbar {
  height: calc(80px + 4vw);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: calc(calc(80px + 4vw) * -1);
  z-index: 999; }

.custom-navbar-item {
  display: flex;
  justify-content: center;
  align-items: center; }
  .custom-navbar-item i {
    font-size: calc(20px + 5vw);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer; }

.new-post-link-item {
  box-shadow: none; }

.location-item i {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%; }

.custom-navbar-new-post-link-container-container {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(calc(80px + 4vw) * .6);
  height: calc(calc(80px + 4vw) * .6);
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6); }

.custom-navbar-new-post-link-container {
  display: flex; }
  .custom-navbar-new-post-link-container i {
    box-shadow: none; }

.select-item {
  box-shadow: none; }

.custom-navbar-select {
  height: calc(calc(80px + 4vw) * .6);
  text-align-last: center;
  background-color: white;
  min-width: calc(100px + 4vw);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.display-none-class {
  display: none; }

.form-error {
  border: 2px solid red !important;
  border-style: solid  !important; }

/*# sourceMappingURL=style.css.map */
