<div class = "wildlife-map-container">
	<div class = "wildlife-map-menu-bar col-xs-12">

		<div class="wildlife-map-menu-bar-input-and-dropdown-container col-xs-9">
			<div class = "new-post-link-container col-xs-2">
				<a class = "new-post-link" ui-sref="newPost">+</a>
			</div>
			
			<select ng-model="$ctrl.specieToFilterFor" ng-change="$ctrl.removeAllMarkers($ctrl.allMarkerGroup)" class = "col-xs-3">
				<option value="">All</option>
				<option ng-repeat="specie in $ctrl.specieArray">{{specie}}</option>
			</select>
			<input ng-model = "$ctrl.specieToFilterFor" ng-change="$ctrl.removeAllMarkers($ctrl.allMarkerGroup)" id = "specie-filter-input" class = "filter-input col-xs-4" type="text" placeholder= "All"
			>
		</div>
		
		<div ng-click="$ctrl.centerOnUser()">
			<img class = "location-image" src="../images/location-image.png" alt="<i class='fa fa-circle' aria-hidden='true'></i>">
		</div>
	</div>
	<div class = "col-xs-12" id="wildlife-map"></div>
	<div ng-repeat="post in $ctrl.posts | filter: {specie: $ctrl.specieToFilterFor}">
		{{$ctrl.populateAllMarkerGroup(post, $ctrl.wildlifeMap) | filter: {specie: $ctrl.specieToFilterFor} }}
	</div>
</div>