<!-- <div>{{$ctrl.newPost}}</div> -->
<div class = "new-post-container">
	<form novalidate class="new-post-form" name = "$ctrl.newPostForm" ng-submit = "$ctrl.submitPost()">
		
		<select class = "new-post-form-select" ng-model="$ctrl.newPost.specie" name = "newPostSpecieSelect" ng-change="$ctrl.getSelectedSpecie()">
			<option value="">Not Listed</option>
			<option disabled value="">Select Specie</option>
			<option ng-repeat="specie in $ctrl.specieArray">{{specie}}</option>
		</select>
		<input ng-show="$ctrl.displayNewSpecieInput" ng-model = "$ctrl.newPost.specie" ng-change="$ctrl.updateSpecieFromUserInput()"" name = "newPostSpecieTextInput" id = "new-specie-input" type="text" placeholder= "New Specie"
		>
		<input ng-model = "$ctrl.newPost.trail" name = "newPostTrailInput" placeholder="Trail (Optional)" type="text">
		<textarea id = "newPostFormDescriptionTextArea" name="newPostDescriptionTextArea" ng-model="$ctrl.newPost.description" placeholder="Description" ng-change="$ctrl.getDescription()"></textarea>
		<div class = "lat-long-container">
			<input type="text" name = "newPostLatitudeInput" ng-model = "$ctrl.userLatitude" ng-change = "$ctrl.updateLocationFromUserInput()" placeholder="Your Latitude">
			<input type="text" name = "newPostLongitudeInput" ng-model = "$ctrl.userLongitude" ng-change = "$ctrl.updateLocationFromUserInput()" placeholder="Your Longitude">
		</div>
		<input name="newPostPhotoInput" id="newPostPhotoInput" type="file" accept="image/*" >

		<input type="submit" id="new-post-submit" value="Submit" />

	</form>
</div>