<div class = "wildlife-map-container">
<!-- 	<div class = "wildlife-map-menu-bar col-xs-12">

			<div class = "new-post-link-container col-xs-1">
				<a class = "new-post-link" ui-sref="newPost">+</a>
			</div>
			<div class="wildlife-map-menu-bar-input-and-dropdown-container">
			
			<select class = "wildlife-menu-bar-select col-xs-12" ng-model="$ctrl.specieToFilterFor" ng-change="$ctrl.removeAllMarkers($ctrl.allMarkerGroup)">
				<option value="">All</option>
				<option ng-repeat="specie in $ctrl.specieArray">{{specie}}</option>
			</select>
			</div>

			<a ui-sref="profile"><i class="profile-link fa fa-user" aria-hidden="true"></i></a>

			<a ui-sref="map"><i class="map-link fa fa-map" aria-hidden="true"></i></a>




			
			<div ng-click="$ctrl.centerOnUser()">
				<img class = "location-image" src="../images/location-image.png" alt="<i class='fa fa-circle' aria-hidden='true'></i>">
			</div>
		</div> -->



		<div class = "custom-navbar-container">
	<div class= "custom-navbar col-xs-12">

		<div class="custom-navbar-item new-post-link-item">
			<div class = "custom-navbar-location-button-container">
				<a ui-sref = "newPost">
					<i class="material-icons">add</i>
				</a>
			</div>
		</div>


		<div class="custom-navbar-item select-item">
			<select class = "custom-navbar-select" ng-model="$ctrl.specieToFilterFor" ng-change="$ctrl.removeAllMarkers($ctrl.allMarkerGroup)">
				<option value="">All</option>
				<option ng-repeat="specie in $ctrl.specieArray">{{specie}}</option>
			</select>
		</div>
		<div class="custom-navbar-item">
			<div class="custom-navbar-profile-link-container">
				<a ui-sref="profile">
					<i class="material-icons">person</i>
				</a>
			</div>
		</div>
		<div class="custom-navbar-item">
			<a ui-sref="map">
				<i class="material-icons">map</i>
			</a>
		</div>

		<div class="custom-navbar-item location-item">
			<div class = "custom-navbar-location-button-container" ng-click="$ctrl.centerOnUser()">
				<i class="material-icons">my_location</i>
			</div>
		</div>

		
	</div>
</div>
		<div class = "col-xs-12" id="wildlife-map"></div>
		<div ng-repeat="post in $ctrl.posts | filter: {specie: $ctrl.specieToFilterFor} | filter: {user_email: $ctrl.emailToFilterFor}">
			{{$ctrl.populateAllMarkerGroup(post, $ctrl.wildlifeMap) | filter: {specie: $ctrl.specieToFilterFor} }}
		</div>
		
	</div>