<div class = "welcome-state-container">
	<div class = "welcome-state-button-container col-xs-12">
		<div class = "welcome-state-button col-xs-12 col-sm-5">
			<a ui-sref="profile">
				<div class = "welcome-state-button-text-container">
					<div class = "welcome-state-button-text">Profile</div>
				</div>
			</a>
		</div>
		<div class = "welcome-state-button col-xs-12 col-sm-5">
			<a ui-sref="map">
				<div class = "welcome-state-button-text-container">
					<div class = "welcome-state-button-text">Map</div>
				</div>
			</a>
		</div>
		<div class = "welcome-state-button col-xs-12 col-sm-5" ng-if="!$ctrl.auth.isAuthenticated()" ng-click="$ctrl.login()">
			<a>
				<div class = "welcome-state-button-text-container">
					<div class = "welcome-state-button-text">Log In</div>
				</div>
			</a>
		</div>
		<div class = "welcome-state-button col-xs-12 col-sm-5" ng-if="$ctrl.auth.isAuthenticated()" ng-click="$ctrl.logout()">
			<a>
				<div class = "welcome-state-button-text-container">
					<div class = "welcome-state-button-text">Log Out</div>
				</div>
			</a>
		</div>
	</div>
</div>